name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  # For PRs, use the ref (branch) in the concurrency group so that new pushes cancel any old runs.
  # For pushes to main, ideally we wouldn't set a concurrency group, but github actions doesn't
  # support conditional blocks of settings, so we use the SHA so the "group" is unique.
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - run: yarn --immutable

      - run: yarn syncpack:check
      - run: yarn format:check

      - run: yarn build
      - run: yarn lint
      - run: yarn bundle

      - name: e2e - install-beachball
        uses: ./install-beachball

      - name: e2e - check-for-modified-files
        uses: ./check-for-modified-files

      - name: e2e - batch-runs
        uses: ./batch-runs
        id: batchRuns
        with:
          mode: output
          token: ${{ github.token }}

      - name: e2e - batch-runs result
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        if: ${{ steps.batchRuns.outputs.shouldCancel != 'no' }}
        with:
          script: |
            const shouldCancel = '${{ steps.batchRuns.outputs.shouldCancel }}';
            if (shouldCancel === 'yes' && process.env.GITHUB_REF_NAME === 'main') {
              core.info('Newer run is pending for main');
            } else {
              core.setFailed(`batch-runs unexpectedly returned "${shouldCancel}"`);
            }

      # Note: this is not actually used here to determine if a release is needed
      - name: e2e - should-release
        uses: ./should-release
        id: shouldRelease
        with:
          mode: output
          token: ${{ github.token }}
          batch: true

      - name: e2e - should-release result
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            const shouldRelease = '${{ steps.shouldRelease.outputs.shouldRelease }}';
            if (shouldRelease !== 'yes' && shouldRelease !== 'no') {
              core.setFailed(`should-release returned "${shouldRelease}" instead of "yes" or "no"`);
            } else {
              core.info(`should-release returned shouldRelease: "${shouldRelease}"`);
            }
