name: Release

# Release on manual trigger only
on:
  workflow_dispatch:

concurrency:
  group: release-${{ github.ref }}

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest

    # This environment contains secrets needed for publishing
    environment: release

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .nvmrc
          cache: yarn

      - run: yarn --immutable

      - run: yarn syncpack:check
      - run: yarn format:check

      - run: yarn build
      - run: yarn lint
      - run: yarn bundle

      - name: Set git config
        run: |
          git config user.name "Elizabeth Craig"
          git config user.email "elcraig@microsoft.com"
          git remote set-url origin "https://$REPO_PAT@github.com/$GITHUB_REPOSITORY"
        env:
          REPO_PAT: ${{ secrets.REPO_PAT }}

      - name: Release actions
        uses: int128/release-typescript-action@59adc6ece39e5e704a0b71e845740e58b5024ae0 # v1
        with:
          major-version: 3
          token: ${{ secrets.REPO_PAT }}
